h3 {
  font-size: 2vw;
}

#content-box {
  white-space: nowrap;
}

#content-title {
  background-color: black;
  border-color: gray;
  border-style: solid;
  border-width: 6px;
  margin-top: 6%;
  margin-left: 24%;
  margin-right: 50%;
  padding-left: 2%;
  height: 10vh;
}

img {
  width: 4vw;
  height: auto;
}

#employee-box {
  display: inline-block;
  background-color: black;
  border-color: gray;
  border-style: solid;
  border-width: 6px;
  margin-left: 20%;
  font-size: 1.8vw;
  width: 52%;
  height: 30vh;
  overflow-y: auto;
}

li {
  border-style: solid;
  border-color: gray;
  border-left: 0;
  border-right: 0;
  border-top: 6px;
}

#inner-text {
  padding-left: .5%;
  vertical-align: 25px;
  float: 0 auto;
}

#last-row {
  float: right;
}

#buttons-employee {
  margin-top: -.5%;
}

#button-container-employee-left {
  background-color: black;
  border-color: gray;
  border-style: solid;
  border-width: 6px;
  margin-left: 25%;
  padding: 2%;
  text-align: center; 
  display: inline-block;
  max-height: 50px;
  max-width: 500px;
  position: absolute;
}

#button-container-employee-right {
  background-color: black;
  border-color: gray;
  border-style: solid;
  border-width: 6px;
  margin-left: 52%;
  padding: 2%;
  text-align: center;
  display: inline-block;
  max-height: 50px;
  max-width: 160px;
  position: absolute;
}

#request-button, #logout-button {
  background-color: black;
  border-color: black;
  color: white;
  padding: 0%, 2%, 2%, 2%;
  font-family: Courier, monospace;
  font-size: 2vw;
  font-weight: bold;
}

#request-button:hover, #logout-button:hover {
  font-size: 2vw;
  font-style: italic;
}

#request-button:active, #logout-button:active {
  color: black;
  background-color: white;
}