body {
  background-image: url(../images/wf0-background.png);
  color: white;
}

#content-box {
  font-family: 'Courier New', Courier, monospace;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}